
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  overflow-x: hidden;
}

*{
    font-family: "Cairo", sans-serif;
    line-height: 1.8;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
 }

  .navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .nav-item .nav-link:hover{
    color: #0090b0;
  }
    
.navbar .container .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    background-color: skyblue;
    width:100% ;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 2px solid white;
    transition: all ease 0.5s;
    text-align: center;
}

.navbar .container .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: #0090b0;
    
    /* padding-bottom: 10px ;
    padding-top: 10px;
    
    background-color: #0090b0;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1); */
  }
  
  

  /* .navbar .container .collapse .navbar-nav .nav-item:hover .dropdown-menu{
    display: block;
    left: auto;
  } */

  .dropdown-menu li a:hover {
    padding-bottom: 10px ;
    padding-top: 10px;
    
    background-color: #0090b0;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
   
  }

  
   @media screen and (min-width: 992px) {
    /* عند الشاشات الكبيرة فقط، تظهر القائمة عند تمرير الماوس */
    .navbar .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
  
  
/* .navbar{
    background-color: white !important;
    display: flex;
    justify-content:center;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    
} */



/* carousel */

.carousel{
    background-color: #0090b0 !important;
    color: #dbdbdb;
    padding:2px;
    font-weight: bold !important;
    
    
}

.card{
    background-color: #0090b0 !important;
    border: none;
    width: 100% !important;
    height: auto !important ;
   
}
.card img{
    width: 100% ; 
    max-height: 50vw;
   padding: 0px;
}


.carousel-indicators button{
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
}
.carousel-indicators button:hover{
    background-color: crimson;
}



/* section */


/* @media screen and (max-width: 480px){
  .section{
    display: block;
    flex-wrap: wrap;
  }
} */

@media screen and (max-width: 480px) {
   h2, p {
    font-size: 1rem;
    line-height: 36px;
  }

  
}

/* main1 ---------------- */

.main{

  
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('../images/pg15.jpg');
    background-size: contain;           /* تغطية كاملة بدون تكرار */
    background-position: center;      /* تمركز الصورة */
    background-repeat: no-repeat;     /* منع التكرار */
    background-attachment: fixed;     /* لتثبيت الخلفية عند التمرير */
    background-color: #0090b0;
    padding-top: 300px;               /* تقليل الطول إذا أردتها أقصر */
    padding-bottom: 300px;            /* إضافة هامش سفلي */
    font-size: 20px;
    text-align: center;

} 


.main button{
  width: 100%;
    max-width: 200px;
    font-size: 16px;
}

.main button:hover{
    background-color: #0090b0;
    transition: all ease .5s;
    transform: scale(1.1);
}
.main h2{
  font-size: 24px;
}

.main p{
  font-size: 16px;
    padding: 0 15px;
}


/* main2------------------------ */

.main2{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
  url('../images/pg15.jpg');
background-size: contain;           /* تغطية كاملة بدون تكرار */
background-position: center;      /* تمركز الصورة */
background-repeat: no-repeat;     /* منع التكرار */
background-attachment: fixed;     /* لتثبيت الخلفية عند التمرير */
background-color: #0090b0;
padding-top: 300px;               /* تقليل الطول إذا أردتها أقصر */
padding-bottom: 300px;            /* إضافة هامش سفلي */
font-size: 20px;
text-align: center;

} 

@media (max-width: 768px) {
  .main , .main2 {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 16px;
  }
}
.main2 button{
  width: 100%;
    max-width: 200px;
    font-size: 16px;
}
.main2 button:hover{
  background-color: #0090b0;
  transition: all ease .5s;
  transform: scale(1.1);
}
.main2 h2{
  font-size: 24px;
}

.main2 p{
  font-size: 16px;
    padding: 0 15px;
}


/* cards1 --------------------------- */
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:#0090b0 ;
}
.cards .cards{
    padding: 5px 10px;
    border: solid white 5px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}
.cards .card-body{
  text-align: center;
}
.cards .card-body{
  padding: 10px 20px;
}
.cards .card-text{
  padding: 10px 10px;
}
.cards .card-title{
  font-weight: bold;
}

.card-body a:hover{
  transform: scale(1.1);
  transition: all ease .5s;
}


/* cards2 --------------------------- */
.cards2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #edf2fa ;
}
.cards2 .cards2{
    padding: 10px 10px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}
.cards2 .cards2:hover{
  transform: scale(1.0);
  transition: all ease .5s;
  box-shadow: 5px 5px 5px 5px #dbdbdb;
}

.cards2 .card-body{
  text-align: center;
  padding: 10px 20px;
  text-align: start;
}

.cards2 .card-text{
  padding: 10px 10px;
}
.cards2 .card-title{
  font-weight: bold;
}

.card-body a:hover{
  transform: scale(1.0);
  transition: all ease .5s;
}

.cards2 .cards2 .card-body .line{
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 10px;

}

/* mediaquery --------- */

@media screen and (max-width: 480px){
  .navbar .container .collapse li {
   
    padding-top: 1px;
    padding-bottom: 1px;
    transition: all ease-in-out 0.5s;
    border: 20px 10px solid white;
  }

  .navbar .container .collapse .navbar-nav .nav-item .dropdown-menu li a {
   
    /* padding-top: 1px;
    padding-bottom: 1px; */
    transition: all ease-in-out 1s;
    border: 20px 10px solid white;
    background-color: #0090b0;
  }

  .navbar .container button {
    margin-bottom: 10px;
  }
  
  
  
}

@media screen and (max-width: 768px) {
  .navbar .container li a{
    background-color: darkcyan;
    text-align: center;
    transition: all ease-in-out 0.5s;
    
  }
}

@media screen and (max-width:480px) {
  button{
    background-color: #0090b0;
  }
  
}
  
@media screen and (max-width:480px) {
    .opinoin .opinoins {
    display: flex;
    flex-flow: wrap column;
    width: min(300px , 60%);
    justify-content: space-evenly;
  }
}
